* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, body, footer {
  font-family: "Liberation sans", arial, sans-serif;

}


header {
  background-color: white;
  text-align: left;
  height: 224px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;

}

.flotte {
float:left;
}

#flot {
  float:left;
}

div#name {
  text-align: center;
  color : white;
  font-size: 40px;
  font-weight: bold;
  padding: 65px;
  border: 1px solid #2E2E2E;
  height: 25px;
  width: 895px;
  background-color: #0f1235;
  text-decoration: none;
}

body {
  background-color: #0f1235;
  color : white;
  font-size: 20px;
  min-height: 100px;
  position: relative;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: #00763d;
  color : white;
  font-size: 10px;
  height: 60px;
  width: 100%;

}

#searchbar { width: 100%; text-align: right; }
.formulaire               {display:inline-block;}
.formulaire .champ       {width:120px; height:20px;}
.formulaire .bouton       { background-image: url(images/searchbar_button.png);background-repeat: no-repeat;width: 30px;height: 30px;padding: 0; }

#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
#menu li {
 float:left;
 margin:auto;
 padding:0;
 background-color:#cbccdb;
 }
#menu li a {
 display:block;
 width:337px;
 color:white;
 text-decoration:none;
 padding:5px;
 font-size: 25px;
 }


#menu ul li ul {
 display:none;
 }

 #menu ul li:hover ul {
 display:block;
 }

#menu li:hover ul li {
 float:none;
 }

 #menu li ul {
 position:absolute;
 }

 .click:hover {
         color: #0f1235;
        border: 1px solid #0f1235;
       }


/*   page Conditions générales   */


.pd20 {
  padding: 20px 0 10px 20px;
}


/*   page Mentions légales   */

.fs10 {
  font-size: 10px;
}


/*  page Offres d'emploi   */

.container {
  width: 800px;
  height: 450px;
  margin-left: 300px;
}

#bloc-gauche, #bloc-droit {
  width: 350px;
  height: 350px;
  background-color: #cbccdb;
}

#bloc-gauche {
    margin: 10px;
    position: absolute;
    left: 50px;

}

#bloc-droit {
   margin: 10px auto;
   float: right;
 }

 /*   fin offres d'emploi   */

 /*  page permis B   */

 .pd10 {
   padding-left: 10px;
 }


 /*   page tarifs  */

 .moto {
   width: 200px;
   height: 200px;
 }


div#bordure {
  text-align: center;
  color : white;
  font-size: 30px;
  font-weight: bold;
  padding: 65px;
  border: 10px solid white;
  height: 200px;
  width: 895px;
  text-decoration: none;
}

div#scrol {
  width: 30em;
  height: 20em;
  border: solid;
  background-color: white;
  overflow: scroll;
  color: #000000;
}

a
{
color: white;
text-decoration: none;
}

a:visited{
     color: white;
}
