p{
 color: white;
 font-size: 24px;
 font-weight: 600;
}

.imgback{
  background-attachment: fixed;
  background-image: url("0.jpeg");
  background-size: cover;
  background-color: black;
}

hr{
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
}

.push_button_a{
        position:relative;
        width:150px;
        height: 50px;
        color:#FFF;
        text-decoration:none;
        font-weight: bold;
        margin:0 auto;
        border-radius:50px;
        border:solid 10px #b5254d;
        background: #ed1450;
        text-align:center;
        padding:20px 30px;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        transition: all 0.1s;
        -webkit-box-shadow: 0px 9px 0px #87103a;
        -moz-box-shadow: 0px 9px 0px #87103a;
        box-shadow: 0px 9px 0px #87103a;
}

.push_button_a:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}

.push_button_b{
        position:relative;
        width:150px;
        height: 50px;
        color:#FFF;
        text-decoration:none;
        font-weight: bold;
        margin:0 auto;
        border-radius:50px;
        border:solid 10px #1a4f87;
        background: #3461d3;
        text-align:center;
        padding:20px 30px;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        transition: all 0.1s;
        -webkit-box-shadow: 0px 9px 0px #091e73;
        -moz-box-shadow: 0px 9px 0px #091e73;
        box-shadow: 0px 9px 0px #091e73;
}

.push_button_b:active{
    -webkit-box-shadow: 0px 2px 0px #091e73;
    -moz-box-shadow: 0px 2px 0px #091e73;
    box-shadow: 0px 2px 0px #091e73;
    position:relative;
    top:7px;
}
