
    body,html{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        }
    
    .center {
        margin-top: 10%;   
        margin-left: 10%; 
        }

    .logo {
        width :30%;
        margin-left: 30%;
    }

        .searchbar{
        margin-bottom: auto;
        height: 60px;
        width: 80%;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        }

        .search_input{
        color: white;
        border: 0;
        outline: 0;
        background: none;
        caret-color:transparent;
        line-height: 40px;
        transition: width 0.4s linear;
        }
    
        .searchbar > .search_input{
        padding: 0 10px;
        width: 450px;
        caret-color:black;
        transition: width 0.4s linear;
        }
    
        .searchbar > .search_icon{
        background: white;
        color: black;
        }
    
        .search_icon{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:white;
        }