html {
  background-color: #000000;
  color: white;
}

div#color {
  color: green;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  }

div#color2 {
  color: green;
  font-size: 20px;
  padding: 10px;
  border: 2px outset green;
  height: 40px;
  width: 205px;
  border-radius: 2em 1em 3em 4em;
  text-align: center;
}

div#color3 {
  color: white;
  padding: 10px;
  border: 2px inset white;
 width: 460px;
}


.content {
	display: block;
	margin: 4px auto;
	padding: 0;
	overflow: hidden;
	position: relative;
	width: 650px;
	height: 40px;
}
.message {
	display: block;
	margin-left: -100%;
	padding: 0 5px;
	font-size: 2rem;
	text-align: left;
	animation: defilement 10s infinite linear;
}
.message:after {
	content: attr(data-text);
	position: absolute;
	white-space: nowrap;
	padding-left: 10px;
}
 @keyframes defilement {
 0%, 100% {
margin-left:0;
}
 99.99% {
margin-left:-100%;
}
}
